:root {
  --primary-blue: #3b82f6;
  --primary-blue-dark: #2563eb;
  --gray-800: #1f2937;
  --neutral-400: #9ca3af;
  --neutral-900: #111827;

  /* Dark mode variables */
  --bg-dark: #111827;
  --text-dark: #ffffff;
  --border-dark: #374151;
}

body {
  position: relative;
  width: 80%;
  margin: auto;
}

.hero {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.hero-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
}

.content-col h1 {
  font-size: 5rem;
}

.content-col p {
  font-size: 2rem;
}

.cta-group {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 10px;
}

label {
  display: none;
}

input {
  border: 2px solid #F3F4F5;
  color: #F3F4F5;
  border-radius: 10px;
  padding: 15px 25px;
  font-weight: bold;
  font-size: 1.25rem;
}

input[type='text'] {
  color: var(--neutral-900);
}

.demo-button {
  color: white;
  background-color: var(--primary-blue);
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-weight: bold;
  font-size: 1.25rem;
}

.demo-button:hover {
  background-color: var(--primary-blue-dark);
  cursor: pointer;
}

.brands-section {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;
  gap: 20px;
}

.trusted-by {
  font-size: 1.5rem;
  font-weight: bold;
}

.brand-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.hero-image {
  border-radius: 10px;
  border: none;
  width: 45rem;
}

.dark-mode-toggle {
  position: absolute;
  top: 3rem;
  right: 0;
  color: white;
  background-color: var(--primary-blue);
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-weight: bold;
  font-size: 1.25rem;
}

.dark-mode-toggle:hover {
  background-color: var(--primary-blue-dark);
  cursor: pointer;
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}