/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  color: #333;
}

.header {
  /* Define header styles here */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 10px 0;

}

.logo {
  /* Define logo styles here */
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  color: #8C4613;
  font-weight: bold;
}

.logo img {
  /* Define image styles within the logo here */
  border: 2px solid #8C4613;
  border-radius: 50%;
  padding: 2px;
}

.nav-menu a {
  /* Define navigation link styles here */
  text-decoration: none;
  color: #8C4613;
  margin: 0 10px;
}

.nav-menu a:hover {
  /* Define hover styles for navigation links here */
  color: #F2A154;
}

.hero {
  /* Define hero section styles here */
  background-image: url("./assets/chaipatti.png");
  background-size: cover;
  background-position: center;
  height: 50vh;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}


.hero-text h1 {
  /* Define styles for h1 in hero-text here */
  color: white;
  font-size: 3rem;
}

.hero-text p {
  /* Define styles for paragraph in hero-text here */
  color: white;
}

.shop-button {
  /* Define shop button styles here */
  background-color: #8C4613;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white
}

.shop-button:hover {
  /* Define hover styles for shop button here */
  background-color: #F2A154;
  cursor: pointer;
}

.tea-collection {
  /* Define tea collection section styles here */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  gap: 40px;
}

.tea-collection h2 {
  /* Define styles for h2 in tea collection here */
  color: #8C4613;
  font-size: 2rem;
}

.tea-cards {
  /* Define tea cards container styles here */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tea-card {
  /* Define styles for each tea card here */
  border: 2px solid #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.tea-card h3 {
  /* Define styles for tea card headings here */
  color: #8C4613;
}

.tea-card p {
  /* Define styles for tea card paragraph text here */
  width: 60%;
}