* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90vw;
    margin: auto;
    position: relative;
}

.dark {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav ul li {
    list-style: none;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        i {
            animation: rotateIcon 300ms linear forwards;
        }
    }
}

.popup {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    top: 40%;
    left: 45%;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
}

.content {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content input {
    width: 18vw;
    padding: 5px;
    border: 2px solid;
    font-size: 1.25rem;
    border-radius: 5px;
}

.content select {
    width: 100%;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
}

.popup-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup-btns button {
    padding: 10px 15px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    font-size: 1.25rem;
    width: 40%;
    margin: auto;
}

.popup-btns button:nth-child(1) {
    background: rgb(236, 128, 128);
}

.popup-btns button:nth-child(2) {
    background: rgb(143, 232, 143);
}

.container {
    display: flex;
    gap: 20px;
    opacity: 1;
}

.board {
    padding: 10px;
    border-radius: 10px;
    height: 80vh;
    width: 20%;
}

.board h2 {
    text-align: center;
    text-decoration: underline;
}

#todoBoard {
    border: 2px solid red;
}

#progressBoard {
    border: 2px solid yellow;
}

#completedBoard {
    border: 2px solid green;
}

.tasks {
    width: 100%;
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.task p {
    font-size: 1.5rem;
}

.task i {
    margin: 0 5px;
    cursor: pointer;
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }

}